@media screen and (max-width: 1200px) {
/* === Home Page Nav and Globals === */

    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    .about-containers {
        flex-direction: row;
        align-items: center;
        margin-top: 0;
    }

    section, 
    .section-container {
        height: fit-content;
    }

    section {
        padding: 0 2rem;
    }

    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .project__pic-container {
        width: 22.25rem;
        height: 20rem;
        margin: 0 auto 2rem;
    }

    .arrow {
        right: 2rem;
        bottom: 5rem;
    }

/* === Profile === */

    #profile {
        height: fit-content;
        margin-bottom: 60vw;
    }

    #profile,   
    .section-container {
        display: block;
    }

/* === About === */

    #about {
        height: fit-content;
        padding-top: 10vw;
        margin-bottom: 60vw;
    }

/* === Experience === */

    #experience {
        height: fit-content;
        margin-bottom: 50vh;
        align-items: center;
        padding-top: 10vw;
    }

    #experience .experience-details-container {
        padding-top: 2vw;
        max-width: 575px;
    }

/* === Projects === */

    #projects {
        padding-top: 5vw;
        align-items: center;
    }
    #projects .experience-details-container {
        padding-top: 2vw;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #projects .about-containers {
        max-width: 40vw;
    }

    #projects .arrow {
        bottom: 5rem;
    }

/* === Portfolio Project Page === */
    #portfolio_project_about {
        padding-top: 2rem;
        height: 100vh;
    }

    #portfolio_other_projects {
        padding-top: 2rem;
        height: 95vh;
    }

    #portfolio_other_projects .arrow {
        bottom: 6rem;
    }

/* === Shiny App Page === */
    #shiny-hamburger-nav {
        display: flex;
        position: relative;
        z-index: 10;
    }

    #shiny-hamburger-nav .shiny-hamburger-menu-links.open {
        border: 1px solid rgba(84, 82, 82, 0.153);
        border-radius: 1rem;
    }

    #shiny_project_profile {
        flex-direction: column;
        align-items: center;
    }

    #shiny_project_profile .section__pic-container{
        align-content: center;
        justify-content: center;
    }

    #shiny_project_profile .text-container{
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 800px) {
/* === Home Page Nav and Globals === */    
    #contact,
    footer{
        height: 40vh;
    }

    #profile {
        height: fit-content;
        margin-bottom: 39vh;
    }

    #about {
        height: fit-content;
        margin-bottom: 30vh;
    }

    #experience {
        height: fit-content;
        margin-bottom: 30vh;
    }

    article {
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .contact-info-upper-container,
    .contact-info-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p,
    .nav-links li a {
            font-size: 1rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: auto;
        justify-content: center;
    }

    .section_text__p2 {
        font-size: 1.25rem;
    }

    .text-container {
        text-align: justify;
    }

    .desktop-icon {
        margin-top: 5px;
    }

    .about-containers {
        flex-direction: row;
        align-items: center;
        margin-top: 0;
    }

    .about-pic {
        max-width: 100%;
    }

/* === National Parks Project Page === */

    #project_process .article-container {
        flex-wrap: wrap;
    }

/* === Portfolio Project Page === */
    #portfolio_project_profile {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-bottom: 50%;
    }

    #portfolio_project_profile .section__pic-container{
        align-content: center;
        margin-bottom: 0;
        padding-right: 0;
    }

    #portfolio_project_profile .section__pic-container img{
        max-width: 100%;
        margin: auto;
        align-content: center;
    }

    #portfolio_project_about {
       height: auto;
    }

    #portfolio_project_about .about-containers {
        flex-direction: column;
    }

    #portfolio_project_about .details-container {
        width: auto;
    }

/* === Shiny App page === */
    #shiny-hamburger-nav {
        display: flex;
        z-index: 10;
    }


}