/* === General ==== */

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: "Poppins", sans-serif;
    }

    html {
        scroll-behavior: smooth;
    }

    p {
        color: rgb(85, 85, 85);
    }


/* === Transition === */

    a, .btn {
        transition: all 300ms ease;
    }

/* === Icons === */

    .icon {
        cursor: pointer;
        height: 2rem;
    }

/* === Buttons === */

    .btn-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .btn {
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 600;
        transform: all 300ms ease;
        padding: 1rem;
        width: 8rem;
        height: 51px;
        border-radius: 2rem;
    }

    .btn-color-1,
    .btn-color-2 {
        border: rgb(53, 53, 53) 0.1rem solid;
    }

    .btn-color-1:hover, 
    .btn-color-2:hover {
        cursor: pointer;
        
    }

    .btn-color-1, 
    .btn-color-2:hover {
        background-color: rgb(53, 53, 53);
        color: white;
    }

    .btn-color-1:hover {
        background: rgb(0, 0, 0);
    }

    .btn-color-2 {
        background: none;
    }

    .btn-color-2:hover {
        border: rgb(255, 255, 255) 0.1rem solid;
    }

/* === Image Slider === */

    .slider-container {
        position: relative;
        max-width: 600px;
        margin: auto;
        overflow: hidden;
    }

    .slider {
        display: flex;
        transition: transform 0.5s ease;
    }

    .slide {
        min-width: 100%;
        box-sizing: border-box;
    }

    .slide img {
        width: 100%;
        height: auto;
    }

    .slider-container .btn-container {
        gap: 1rem;    
    }

    .slider-container .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        transition: all 300ms ease;
        width: 4rem;
        height: 5px;
        border-radius: 2rem;
    }

    .slider-container .btn-color-1,
    .slider-container .btn-color-2 {
        border: rgb(53, 53, 53) 0.1rem solid;
    }

    .slider-container .btn-color-1:hover, 
    .slider-container .btn-color-2:hover {
        cursor: pointer;
        
    }

    .slider-container .btn-color-1, 
    .slider-container .btn-color-2:hover {
        background-color: rgb(53, 53, 53);
        color: white;
    }

    .slider-container .btn-color-1:hover {
        background: rgb(0, 0, 0);
    }

    .slider-container .btn-color-2 {
        background: none;
    }

    .slider-container .btn-color-2:hover {
        border: rgb(255, 255, 255) 0.1rem solid;
    }    

/* === Sections === */

    section {
        padding-top: 4vh;
        height: 96vh;
        padding: 0 2rem;
        box-sizing: border-box;
        min-height: fit-content;
        max-width: 1700px;
        margin: 0 auto;
    }

    .section-container {
        display: flex;
    }

/* === Desktop Nav === */

    nav, 
    .nav-links {
        display: flex;
    }

    nav {
        justify-content: space-around;
        align-items: center;
        height: 17vh;
    }

    .nav-links {
        gap: 2rem;
        list-style: none;
        font-size: 1.5rem;
    }

    a {
        color: black;
        text-decoration: none;
        text-decoration-color: white;
    }

    a:hover {
        color:  grey;
        text-decoration: underline;
        text-underline-offset: 1rem;
        text-decoration-color: rgb(181, 181, 181);
    }

    .logo {
        font-size: 2rem;
    }

    .logo:hover {
        cursor: default;
    }

    .logo_text__p2 {
        text-align: center;
        font-size: 1.25rem;
    }

    /* Desktop Dropdown */
<<<<<<< HEAD
        .nav-links {
            list-style: none;
            display: flex;
            gap: 15px;
            margin: 0;
            padding: 0;
        }
=======
>>>>>>> afa36d2097ec3af225590532311f63da10e6a0b9

        .label{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            flex-direction: row;
            justify-content: center;
            align-content: center;
        }

<<<<<<< HEAD
        .nav-links a {
            text-decoration: none;
            color: black;
            padding: 8px 16px;
            display: block;
        }

        .nav-links .dropdown-content {
            display: none;
=======
        .text{
            position: relative;
            display: flex;
            gap: 1rem;
            flex-direction: row;
        }

        .desktop-icon {
            display: flex;
            flex-direction: column;
            justify-content:  space-between;
            height: 24px;
            width: 30px;
            cursor: pointer;
            margin-top: 12px;
        }

        .desktop-icon span {
            width: 100%;
            height: 2px;
            background-color: black;
            transition: all 0.3 ease-in-out;
        }

        .desktop-icon.open span:first-child {
            transform: rotate(45deg) translate(10px, 5px);
        }
    
        .desktop-icon.open span:nth-child(2) {
            opacity: 0;
        }
    
        .desktop-icon.open span:last-child {
            transform: rotate(-45deg) translate(10px, -5px);
        }
    
        .desktop-icon span:first-child {
            transform: none;
        }
    
        .desktop-icon span:first-child {
            opacity: 1;
        }
    
        .desktop-icon span:first-child {
            transform: none;
        }

        .desktop-menu {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-end;
        }

        .desktop-menu-links {
>>>>>>> afa36d2097ec3af225590532311f63da10e6a0b9
            position: absolute;
            top: 100%;
            right: 0;
            background-color: white;
<<<<<<< HEAD
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
            margin: 0;
            padding: 0;
=======
            width: fit-content;
            max-height: 0;
            overflow: hidden;
            transition: all 0.3 ease-in-out;
    
        }
    
        .desktop-menu-links a {
            display: block;
            padding: 10px;
            text-align: center;
            font-size: 1.5rem;
            color: black;
            text-decoration: none;
            transition: all 0.3 ease-in-out;    
        }
    
        .desktop-menu-links li {
>>>>>>> afa36d2097ec3af225590532311f63da10e6a0b9
            list-style: none;
            width: 200px; /* Adjust width as needed */
            z-index: 1000; /* Ensures the dropdown appears above other content */
        }
<<<<<<< HEAD

        .nav-links .dropdown-content li {
            padding: 8px 16px;
        }

        .nav-links .dropdown:hover .dropdown-content,
        .nav-links .dropdown-content:hover {
            display: block;
=======
    
        .desktop-menu-links.open {
            max-height: 300px;
>>>>>>> afa36d2097ec3af225590532311f63da10e6a0b9
        }


/* Hamburger Menu */

    #hamburger-nav {
        display: none;
    }

    .hamburger-menu {
        position: relative;
        display: inline-block;
    }

    .hamburger-icon {
        display: flex;
        flex-direction: column;
        justify-content:  space-between;
        height: 24px;
        width: 30px;
        cursor: pointer;
    }

    .hamburger-icon span {
        width: 100%;
        height: 2px;
        background-color: black;
        transition: all 0.3 ease-in-out;
    }

    .menu-links {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: white;
        width: fit-content;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3 ease-in-out;

    }

    .menu-links a {
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 1.5rem;
        color: black;
        text-decoration: none;
        transition: all 0.3 ease-in-out;    
    }

    .menu-links li {
        list-style: none;
    }

    .menu-links.open {
        max-height: 300px;
    }

    .hamburger-icon.open span:first-child {
        transform: rotate(45deg) translate(10px, 5px);
    }

    .hamburger-icon.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-icon.open span:last-child {
        transform: rotate(-45deg) translate(10px, -5px);
    }

    .hamburger-icon span:first-child {
        transform: none;
    }

    .hamburger-icon span:first-child {
        opacity: 1;
    }

    .hamburger-icon span:first-child {
        transform: none;
    }

    /* === Shiny Logo === */

        .shiny-label{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            flex-direction: row;
            justify-content: center;
            align-content: center;
        }

        .shiny-text{
            position: relative;
            display: flex;
            gap: 1rem;
            flex-direction: row;
        }

        .shiny-icon {
            display: flex;
            flex-direction: column;
            justify-content:  space-between;
            height: 24px;
            width: 30px;
            cursor: pointer;
            margin-top: 12px;
        }

        .shiny-icon span {
            width: 100%;
            height: 2px;
            background-color: black;
            transition: all 0.3 ease-in-out;
        }

        .shiny-icon.open span:first-child {
            transform: rotate(45deg) translate(10px, 5px);
        }

        .shiny-icon.open span:nth-child(2) {
            opacity: 0;
        }

        .shiny-icon.open span:last-child {
            transform: rotate(-45deg) translate(10px, -5px);
        }

        .shiny-icon span:first-child {
            transform: none;
        }

        .shiny-icon span:first-child {
            opacity: 1;
        }

        .shiny-icon span:first-child {
            transform: none;
        }

        .shiny-menu {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-end;
        }

        .shiny-menu-links {
            position: absolute;
            top: 100%;
            right: 0;
            background-color: white;
            width: fit-content;
            max-height: 0;
            overflow: hidden;
            transition: all 0.3 ease-in-out;

        }

        .shiny-menu-links a {
            display: block;
            padding: 10px;
            text-align: center;
            font-size: 1.5rem;
            color: black;
            text-decoration: none;
            transition: all 0.3 ease-in-out;    
        }

        .shiny-menu-links li {
            list-style: none;
        }

        .shiny-menu-links.open {
            max-height: 300px;
        }

    /* === Shiny Hamburger Menu === */

        #shiny-hamburger-nav {
            display: none;
        }

        .shiny-hamburger-menu {
            position: relative;
            display: inline-block;
        }

        .shiny-hamburger-icon {
            display: flex;
            flex-direction: column;
            justify-content:  space-between;
            height: 24px;
            width: 30px;
            cursor: pointer;
        }

        .shiny-hamburger-icon span {
            width: 100%;
            height: 2px;
            background-color: black;
            transition: all 0.3 ease-in-out;
        }

        .shiny-hamburger-menu-links {
            position: absolute;
            top: 100%;
            right: 0;
            background-color: white;
            width: fit-content;
            max-height: 0;
            overflow: hidden;
            transition: all 0.3 ease-in-out;

        }

        .shiny-hamburger-menu-links a {
            display: block;
            padding: 10px;
            text-align: center;
            font-size: 1.5rem;
            color: black;
            text-decoration: none;
            transition: all 0.3 ease-in-out;    
        }

        .shiny-hamburger-menu-links li {
            list-style: none;
        }

        .shiny-hamburger-menu-links.open {
            max-height: 300px;
        }

        .shiny-hamburger-icon.open span:first-child {
            transform: rotate(45deg) translate(10px, 5px);
        }

        .shiny-hamburger-icon.open span:nth-child(2) {
            opacity: 0;
        }

        .shiny-hamburger-icon.open span:last-child {
            transform: rotate(-45deg) translate(10px, -5px);
        }

        .shiny-hamburger-icon span:first-child {
            transform: none;
        }

        .shiny-hamburger-icon span:first-child {
            opacity: 1;
        }

        .shiny-hamburger-icon span:first-child {
            transform: none;
        }

/* === Profile Section === */

    #profile {
        position: relative;
        display: flex;
        justify-content: center;
        max-width: 1700px;
        margin: 0 auto;
        gap: 5rem;
        height: 80vh;
    }

    .section__pic-container {
        display: flex;
        height: 400px;
        width: 400px;
        margin: auto 0;
    }

    .profile_pic {
        border-radius: 40rem;
    }

    .section_text {
        align-self: center;
        text-align: center;
    }

    .section_text p {
        font-weight: 600;
    }

    .section_text__p1 {
        text-align:  center;
    }

    .section_text__p2 {
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }

    .title {
        font-size: 3rem;
        text-align: center;
    }

    #socials-container {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        gap: 1rem;
    }





/* === About Section ==== */

    #about {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        max-width: 1700px;
        width: 100%;
        margin: 0 auto;
    }

    .about-containers {
        gap: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .about-details-container {
        justify-content: center;
        flex-direction: column;
    }

    .about-containers,
    .about-details-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-pic {
        border-radius: 2rem;
    }

    .arrow {
        position: absolute;
        right: 2rem;
        bottom: 5rem;
    }

    .details-container {
        padding: 1.5rem;
        flex: 1;
        background: white;
        border-radius: 2rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
        text-align: center;
        align-content: center;
    }

    .section-container {
        gap: 4rem;
        height: 80%;
    }

    .section__pic-container {
        height: 400px;
        width: 400px;
        margin: auto 0;
    }

/* === Experience Section === */

    #experience {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1700px;
        margin: 0 auto;
    }

    .experience-sub-title {
        color: rgb(85, 85, 85);
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .experience-details-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .article-container {
        display: flex;
        text-align: Left;
        flex-wrap: wrap;
        flex-direction: row;
        row-gap: 2rem;
        column-gap: 2rem;
        justify-content: space-around;
        text-wrap: pretty;
    }


    article {
        display: flex;
        width: 15rem;
        justify-content: left;
        gap: 0.3rem;
    }

    article .icon {
        cursor: default;
    }

/* === Projects Section === */

    #projects {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1700px;
        margin: 0 auto;

    }

    #projects .article-container {
        padding-bottom: 0;
    }

    .color-container {
        border-color: rgb(163, 163, 163);
        background: rgb(250, 250, 250);
    }

    .project1-img {
        border-radius: 2rem;
        width: 90%;
        height: 90%;
    }

    .project2-img {
        border-radius: 2rem;
        width: 90%;
        height: 90%;
    }

    .project3-img {
        border-radius: 2rem;
        width: 90%;
        height: 90%;
    }

    .project-title {
        margin: .5rem;
        color: black;
    }

    .project-btn {
        color: black;
        border-color: rgb(163, 163, 163);
    }



/* === Contacts Section === */

    #contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1700px;
        margin: 0 auto;
        height: 70vh;
        margin-top: 2rem;
    }

    .contact-info-upper-container {
        display: flex;
        justify-content: center;
        border-radius: 2rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
        background: rgb(250, 250, 250);
        margin: 2rem auto;
        padding: 0.5rem;
    }

    .contact-info-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        margin: 1rem;
    }

    .contact-info-container p {
        font-size: larger;
    }
    .contact-icon {
        cursor: default;
    }

    .email-icon {
        height: 2.5rem;
    }

/*  === Footer Section === */

    footer {
        height: 26vh;
        margin: 0 1rem;
    }

    footer p {
        text-align: center;
    }

/* === Project Profile Section === */

    #project_profile {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding-top: 0;
        gap: 1rem;
        max-width: 1700px;
        width: auto;
        height: 85vh;
    }

    #project_profile .section__pic-container {
        display: flex;
        justify-content: center;
        height: auto;
        width: 100%;
        max-width: 1500px;
        margin: 0;
    }

    #project_profile .profile_pic {
        display: block;
        width: auto; 
        height: auto; 
        max-width: 500px;
        max-height: 500px;
        border-radius: 3rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        transform: scale(auto);
    }

    #project_profile .section_text {
        align-self: center;
        text-align: center;
        padding: 0 1 rem;
    }
       
    #project_profile .section_text p {
        font-weight: 600;
    }

    #project_profile .section_text__p1 {
        text-align: center;
    }

    #project_profile .section_text__p2 {
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }

    #project_profile .title {
        font-size: 3rem;
        text-align: center;
    }

    #project_profile #socials-container {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        gap: 1rem;
    }

/* === Project About Section ==== */

    #project_about {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1700px;
        width: 100%;
        margin: 0 auto;
    }

    #project_about .section-container {
        gap: 4rem;
        display: flex;
        flex-direction: row;
        height: 80%;
    }

    #project_about .about-containers {
        gap: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    #project_about .about-details-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #project_about .details-container {
        padding: 1.5rem;
        background: white;
        border-radius: 2rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
    }

    #project_about .about-pic {
        border-radius: 2rem;
    }

    #project_about .text-container {
        margin-top: 2rem;
    }

    #project_about .arrow {
        position: absolute;
        right: 2rem;
        bottom: 1rem;
    }

    #project_about .section__pic-container {
        height: 400px;
        width: 400px;
        margin: auto 0;
    }

    #project_about .slider-container {
        max-height: 30rem;
        max-width: 600px;
        padding-bottom: 4rem;
    }

    #project_about .slider {
        height: 50%;
    }

    #project_about .slide img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;

    }    
    
/* === Project Process === */

    #project_process {
        position: relative;
        display: flex;
        margin-top: 4rem;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
        padding: 2rem 0; 
        height: 100vh; 
        width: 100%; 
    }

    #project_process .experience-sub-title {
        color: rgb(85, 85, 85);
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    #project_process .experience-details-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        width: 90%;
    }

    #project_process .article-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
    }

    #project_process .details-container {
        width: 0%;
        text-align: center;
    }
    
    #project_process .article {
        display: flex;
        width: 15rem;
        justify-content: center;
        gap: 0.3rem;
    }

    #project_process .project-iframe {  
        padding-top: 1rem;  
    }

    #rmarkdown-iframe {
        height: 750px;
        width: 85%;
        max-width: 1050px;
        margin: 0 auto;
        display: block;
    }

    #project_process .arrow {
        position: absolute;
        right: 2rem;
        bottom: 1rem;
    }

/* === Other Projects === */

    #other_projects {
        position: relative;
        display: flex; /* Add flexbox */
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically */
        flex-direction: column; /* Ensure content is stacked vertically */
        width: 100%; /* Ensure the section takes up the full width */
        padding-bottom: 2rem; /* Adjust padding for spacing */
    }

    #other_projects .article-container {
        display: flex;
        justify-content: center; 
        align-items: center; 
        flex-wrap: wrap; 
        width: 100%; 
        max-width: 1050px;
        text-align: center;
        margin: 0 auto;
    }

    #other_projects .project1-img,
    #other_projects .project2-img,
    #other_projects .project3-img {
        border-radius: 2rem;
        max-width: 100%;
        width: auto;
        height: auto; 
        margin: 2rem; 
        display: block;
    }

    #other_projects .color-container {
        border-color: rgb(163, 163, 163);
        background: rgb(250, 250, 250);
    }

    #other_projects .project1-img {
        border-radius: 2rem;
        width: 90%;
        height: 90%;
    }

    #other_projects .project2-img {
        border-radius: 2rem;
        width: auto;
        height: 90%;

    }

    #other_projects .project3-img {
        border-radius: 2rem;
        width: 90%;
        height: 90%;
    }

    #other_projects .project-title {
        margin: .5rem;
        color: black;
    }

    #other_projects .project-btn {
        color: black;
        border-color: rgb(163, 163, 163);
    }

    #other_projects .section_text__p1{
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    #other_projects .arrow {
        position: absolute;
        right: 2rem;
        bottom: -1rem;
    }

/* === Project Contacts Section === */

    #project_contacts {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 71vh;
        margin-top: 2rem;
    }

    #project_contacts .contact-info-upper-container {
        display: flex;
        justify-content: center;
        border-radius: 2rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
        background: rgb(250, 250, 250);
        margin: 2rem auto;
        padding: 0.5rem;
    }

    #project_contacts .contact-info-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        margin: 1rem;
    }

    #project_contacts .contact-info-container p {
        font-size: larger;
    }
    #project_contacts .contact-icon {
        cursor: default;
    }

    #project_contacts .email-icon {
        height: 2.5rem;
    }


/* === Portfolio Project Profile Section === */

    #portfolio_project_profile {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
        max-width: 1700px;
        margin: 0 auto;
        height: 85vh;
        box-sizing: border-box;
    }

    .portfolio-project-pic-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .portfolio_project_profile_pic {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 3rem;
        border: rgb(53, 53, 53) 0.1rem solid;
    }

    #portfolio_project_profile .section_text {
        align-self: center;
        text-align: center;
        padding: 0 1 rem;
    }

    #portfolio_project_profile .section_text p {
        font-weight: 600;
    }

    #portfolio_project_profile .section_text__p1 {
        text-align: center;
    }

    #portfolio_project_profile .section_text__p2 {
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }

    #portfolio_project_profile .title {
        font-size: 3rem;
        text-align: center;
    }

    #portfolio_project_profile #socials-container {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        gap: 1rem;
    }

/* === Portfolio Project About Section ==== */

    #portfolio_project_about {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1700px;
        width: 100%;
        margin: 0 auto;
    }

    #portfolio_project_about .section-container {
        gap: 4rem;
        display: flex;
        flex-direction: row;
        height: 80%;
    }

    #portfolio_project_about .about-containers {
        gap: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    #portfolio_project_about .about-details-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #portfolio_project_about .details-container {
        padding: 1.5rem;
        background: white;
        border-radius: 2rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
    }

    #portfolio_project_about .about-pic {
        border-radius: 2rem;
    }

    #portfolio_project_about .text-container {
        margin-top: 2rem;
    }

    #portfolio_project_about .arrow {
        position: absolute;
        right: 2rem;
        bottom: 1rem;
    }

    #portfolio_project_about .details-container {
        padding: 1.5rem;
        background: white;
        border-radius: 2rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
    }

    #portfolio_project_about .section__pic-container {
        height: 400px;
        width: 400px;
        margin: auto 0;
    }

    #portfolio_project_about .slider-container {
        max-height: 30rem;
        max-width: 600px;
        padding-bottom: 4rem;
    }

    #portfolio_project_about .slider {
        height: 50%;
    }

    #portfolio_project_about .slide img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }      

/* === Portfolio Other Projects === */

    #portfolio_other_projects {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #portfolio_other_projects .article-container {
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 100%;
        max-width: 60%;
        margin: 0 auto;
    }

    #portfolio_other_projects .article-container img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    #portfolio_other_projects .about-container {
        padding-bottom: 0;
        height: 80%;
        width: auto;
    }

    #portfolio_other_projects .color-container {
        border-color: rgb(163, 163, 163);
        background: rgb(250, 250, 250);
    }

    #portfolio_other_projects .project1-img {
        border-radius: 2rem;
        width: 90%;
        height: 90%;
    }

    #portfolio_other_projects .project2-img {
        border-radius: 2rem;
        width: auto;
        height: 90%;

    }

    #portfolio_other_projects .project3-img {
        border-radius: 2rem;
        width: 90%;
        height: 90%;
    }

    #portfolio_other_projects .project-title {
        margin: .5rem;
        color: black;
    }

    #portfolio_other_projects .project-btn {
        color: black;
        border-color: rgb(163, 163, 163);
    }

    #portfolio_other_projects .section_text__p1{
        margin-bottom: 1rem;
    }

    #portfolio_other_projects .arrow {
        position: absolute;
        right: 2rem;
        bottom: -1rem;
    }

/* === Portfolio Project About Section ==== */

    #ga_project_about {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1700px;
        width: 100%;
        margin: 0 auto;
    }

    #ga_project_about .section-container {
        gap: 4rem;
        display: flex;
        flex-direction: row;
        height: 80%;
    }

    #ga_project_about .about-containers {
        gap: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    #ga_project_about .about-details-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #ga_project_about .details-container {
        padding: 1.5rem;
        background: white;
        border-radius: 2rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
    }

    #ga_project_about .about-pic {
        border-radius: 2rem;
    }

    #ga_project_about .text-container {
        margin-top: 2rem;
    }

    #ga_project_about .arrow {
        position: absolute;
        right: 2rem;
        bottom: 1rem;
    }

    #ga_project_about .details-container {
        padding: 1.5rem;
        background: white;
        border-radius: 2rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
    }

    #ga_project_about .section__pic-container {
        height: 400px;
        width: 400px;
        margin: auto 0;
    }

    #ga_project_about .slider-container {
        max-height: 30rem;
        max-width: 600px;
        padding-bottom: 6rem;
    }

    #ga_project_about .slider {
        height: 50%;
    }

    #ga_project_about .slide img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }  

/* === Shiny Project About Section ==== */

    #shiny_project_about {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1700px;
        width: 100%;
        margin: 0 auto;
        height: 96vh;
    }

    #shiny_project_about .section-container {
        gap: 4rem;
        display: flex;
        flex-direction: row;
        height: 80%;
    }

    #shiny_project_about .about-containers {
        gap: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    #shiny_project_about .about-details-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #shiny_project_about .details-container {
        padding: 1.5rem;
        background: white;
        border-radius: 2rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163, 163, 163);
    }

    #shiny_project_about .about-pic {
        border-radius: 2rem;
    }

    #shiny_project_about .text-container {
        margin-top: 2rem;
    }

    #shiny_project_about .arrow {
        position: absolute;
        right: 2rem;
        bottom: 1rem;
    }

    #shiny_project_about .section__pic-container {
        height: 400px;
        width: 400px;
        margin: auto 0;
    }

    #shiny_project_about .slider-container {
        max-height: 30rem;
        max-width: 600px;
        padding-bottom: 4rem;
        padding-top: 2rem;
    }

    #shiny_project_about .slider {
        height: 50%;
    }

    #shiny_project_about .slide1 img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }  


/* === Shiny Project Process === */

    #shiny_project_process1,
    #shiny_project_process2  {
        position: relative;
        display: flex;
        margin-top: 4rem;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
        padding: 2rem 0; 
        height: 100vh; 
        width: 100%; 
    }

    #shiny_project_process1 .experience-sub-title,
    #shiny_project_process2  .experience-sub-title {
        color: rgb(85, 85, 85);
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }

    #shiny_project_process1 .about-containers,
    #shiny_project_process2 s .about-containers {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #shiny_project_process1 .experience-details-container,
    #shiny_project_process2  .experience-details-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        width: 90%;
    }

    #shiny_project_process1 .article-container,
    #shiny_project_process2  .article-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
    }

    #shiny_project_process1 .details-container,
    #shiny_project_process2  .details-container {
        width: 0%;
        text-align: center;
        padding: .5rem;
    }

    #shiny_project_process1 .article,
    #shiny_project_process2  .article {
        display: flex;
        width: 15rem;
        justify-content: center;
        gap: 0.3rem;
    }

    #shiny_project_process1 .project-iframe,
    #shiny_project_process2  .project-iframe {  
        padding-top: 0rem;  
    }

    #shiny-iframe {
        height: 78vh;
        width: 90%;
        max-width: 1050px;
        margin: 0 auto;
        display: block;
    }

    #shiny_project_process1 .arrow,
    #shiny_project_process2 .arrow {
        position: absolute;
        right: 2rem;
        bottom: 1rem;
    }